# Undertow settings
server:
  port: ${SERVER_PORT:8080}
  undertow:
    io-threads: ${UNDERTOW_IO_THREADS:1}
    worker-threads: ${UNDERTOW_WORKER_THREADS:8}
    buffer-size: ${UNDERTOW_BUFFER_SIZE:1024}

# Management settings
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}

# Logging settings
logging:
  level:
    root: ERROR
    org:
      springframework:
        security: INFO
        web: ERROR
      hibernate: INFO
    com:
      example: DEBUG
  file:
    path: ${LOGGING_FILE_PATH:./}
    name: output.log
    max-size: ${LOGGING_FILE_MAX_SIZE:100MB}
    max-history: ${LOGGING_FILE_MAX_HISTORY:50}

# Knife4j settings
knife4j:
  enable: true
  setting:
    enableGroup: false
    enableOpenApi: false
    enableFooterCustom: true
    footerCustomContent: 版权所有 | Copyright 2020

# Spring settings
spring:
  profiles:
    active: dev
  application:
    name: hello-web-admin
  jackson:
    default-property-inclusion: NON_EMPTY
    property-naming-strategy: CAMEL_CASE_TO_LOWER_CASE_WITH_UNDERSCORES
    serialization:
      write-dates-as-timestamps: true
#  main:
#    allow-bean-definition-overriding: true
